{% extends base %}

{% block preamble %}

<link href="{{ app_name }}/static/css/bootstrap.min.css" rel="stylesheet">

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<link href="{{ app_name }}/static/css/dashboard.css" rel="stylesheet">

{% endblock %}

{% block contents %}

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Terahertz Pump Probe</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Command" aria-label="Command">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#" onclick="close_window();return false;">Sign Out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <div class="nav flex-column" id="nav-tab" role="tablist">
          <a type="button" class="nav-link active" id="nav-dashboard-tab" data-bs-toggle="tab"
            data-bs-target="#nav-dashboard" role="tab" aria-controls="nav-dashboard" aria-selected="true">
            <span data-feather="home"></span>
            Dashboard
          </a>
          <a type="button" class="nav-link" id="nav-setup-tab" data-bs-toggle="tab" data-bs-target="#nav-setup"
            role="tab" aria-controls="nav-setup" aria-selected="false">
            <span data-feather="tool"></span>
            Setup Components
          </a>
          <a type="button" class="nav-link" id="nav-param-tab" data-bs-toggle="tab" data-bs-target="#nav-param"
            role="tab" aria-controls="nav-param" aria-selected="false">
            <span data-feather="settings"></span>
            Experiment Parameters
          </a>
          <a type="button" class="nav-link" id="nav-schedule-tab" data-bs-toggle="tab" data-bs-target="#nav-schedule"
            role="tab" aria-controls="nav-schedule" aria-selected="false">
            <span data-feather="play"></span>
            Schedule Experiment
          </a>
          <a type="button" class="nav-link" id="nav-reports-tab" data-bs-toggle="tab" data-bs-target="#nav-reports"
            role="tab" aria-controls="nav-reports" aria-selected="false">
            <span data-feather="activity"></span>
            Reports
          </a>
          <a type="button" class="nav-link" id="nav-message-tab" data-bs-toggle="tab" data-bs-target="#nav-message"
            role="tab" aria-controls="nav-message" aria-selected="false">
            <span data-feather="code"></span>
            Laboratory Messages
          </a>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Advanced</span>
            <a class="link-secondary" href="#" aria-label="Add a new method or component">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>

          <a type="button" class="nav-link" id="nav-manual-tab" data-bs-toggle="tab" data-bs-target="#nav-manual"
          role="tab" aria-controls="nav-manual" aria-selected="false">
            <span data-feather="cpu"></span>
            Manual Tweaking
          </a>

          <a class="nav-link" href="#">
            <span data-feather="database"></span>
            Edit Raw Configs
          </a>

          <a class="nav-link" href="#">
            <span data-feather="link"></span>
            Network Topology
          </a>

          <a class="nav-link" href="#">
            <span data-feather="unlock"></span>
            Remove Sync Locks
          </a>

          <a class="nav-link" href="#" onclick="print_about();return false;">
            <span data-feather="terminal"></span>
            Dev Guide & About
          </a>
        </div>
      </div>
    </nav>
    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel" aria-labelledby="nav-dashboard-tab">
            {{ embed(roots.dashboard) }}
          </div>
          <div class="tab-pane fade" id="nav-setup" role="tabpanel" aria-labelledby="nav-setup-tab">
            {{ embed(roots.setup)}}
          </div>
          <div class="tab-pane fade" id="nav-param" role="tabpanel" aria-labelledby="nav-param-tab">
            {{ embed(roots.param) }}
          </div>
          <div class="tab-pane fade" id="nav-schedule" role="tabpanel" aria-labelledby="nav-schedule-tab">
            {{ embed(roots.schedule) }}
          </div>
          <div class="tab-pane fade" id="nav-reports" role="tabpanel" aria-labelledby="nav-reports-tab">
            {{ embed(roots.reports) }}
          </div>
          <div class="tab-pane fade" id="nav-message" role="tabpanel" aria-labelledby="nav-message-tab">
            {{ embed(roots.messages) }}
          </div>
          <div class="tab-pane fade" id="nav-manual" role="tabpanel" aria-labelledby="nav-manual-tab">
            {{ embed(roots.manual) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="{{ app_name }}/static/js/bootstrap.js"></script>
<script src="{{ app_name }}/static/js/feather.min.js"></script>
<script src="{{ app_name }}/static/js/dashboard.js"></script>

{% endblock %}